<div class="no-posts-box">
    {{#if noPosts}}
        <div class="no-posts">
            <h3>您还没有文章，赶快创作一篇吧！</h3>
            {{#link-to "editor.new"}}<button type="button" class="btn btn-green btn-lg" title="新建文章">新建一篇文章</button>{{/link-to}}
        </div>
    {{/if}}
</div>
