{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide"
    title="确认要删除该博文吗？" confirm=confirm}}

    <p>博文 "<strong>{{model.title}}</strong>"，<br />删除后将无法恢复，<br /> 是否确认删除？</p>

{{/gh-modal-dialog}}
