{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide"
    title="确认要离开吗？" confirm=confirm}}

    <p>您之前所做的修改尚未保存，建议保存后再离开。</p>

    <p>Save before you go!</p>

{{/gh-modal-dialog}}
