<header>
    <h1>Welcome to <strong>Ghost</strong>!</h1>
    <p>All over the world, people have started <em>{{model.count}}</em> incredible blogs with Ghost. Today, we’re starting yours.</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="{{gh-path 'admin' 'img/install-welcome.png'}}" alt="Ghost screenshot" />
</figure>

{{#link-to "setup.two" classNames="btn btn-green btn-lg"}}
    创建您的账户<i class="icon-chevron"></i>
{{/link-to}}
